body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header{
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav{
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: grey;
}

.page {
    display: flex;
    padding: 10px;
}

main {
    flex: 3;
    padding-right: 10px;
}

aside {
    flex: 1;
    padding: 10px;
    background-color: white;
    border-left: 1px solid grey;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

caption {
    font-weight: bold;
    margin-bottom: 8px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: beige;
}

footer {
    background-color: white;
    padding: 10px;
    text-align: center;
}
