body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #444;
    margin: 3px;
}

nav a:hover {
    background: #555;
}


.current {
    background: crimson;
}


main {
    padding: 15px;
}


table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}


footer {
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
.wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #eee;
  padding: 15px;
}

.content {
  flex: 1;
  padding: 15px;
}

.card img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}

.tiny {
    font-size: 7px;   
}



@media (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 15px;
    }
}
