<style>

body {
    font-family:Arial, Helvetica, sans-serif
    background-color : lightblue;
}

header h1 {
    color: cadetblue;
}

header h3 {
    color : red !important;
}

}
#truth{
    color:coral;
}
}

.bigger {
    font-size: 15pt;
}


.special {
    font-weight: 800;
}

</style>