body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f3e9;
    color: #222;
    font-size: 18px;
}

header h1 {
    color: rgb(255, 64, 0);
    font-size: 46pt;
}

h3 {
    color: red;
    font-size: 16pt;
}

#important {
    color: coral;
    font-weight: 800;
    font-size: 20pt;
}

.bigger {
    font-weight: 550;
    font-style: italic;
}

.smaller {
    font-style: italic;
    font-size: 14px;
    color: gray;
}

.highlight {
    color: red;
    font-weight: bold;
}
